/* font-family: 'IBM Plex Serif', serif;
font-family: 'Lora', serif;
font-family: 'PT Mono', monospace; */

html{
    background-color: whitesmoke;
    height:100%;
}

body{
    height:100%;
}

h1{
    font-family: 'IBM Plex Serif', serif;
}

p{
    font-family: 'PT Mono', monospace;
}

a{
    text-decoration: none;
    font-family: 'PT Mono', monospace;
    color:white;
}

header{
    height:5rem;
    display: flex;
    background-color: black;
}

    .logo img{
        width:8rem;
        margin:0.7rem 0.5rem 0rem 1rem;
        border-radius:1rem;
        border:0.05rem rgba(119, 136, 153, 0.456) solid;
    }

    nav{
        width:90%;
        display:flex;
        justify-content: space-evenly;
    }

    .nbut1,.nbut2,.nbut3{
        width:fit-content;
        height: fit-content;
        margin:1rem 0rem;
        padding:1rem;
        border-radius:0.5rem;
        /* font-weight: 600; check this to see if it works out after finishing the project*/
    }

    .logo img:hover,.nbut1:hover,.nbut2:hover,.nbut3:hover{
        animation: box-in 0.5s ease-in-out forwards;
    }

    @keyframes box-in{
        from{
            box-shadow: 0rem 0rem 0.01rem rgb(224, 224, 224);
        }
        to{
            box-shadow: 0rem 0rem 0.5rem rgb(224, 224, 224);
        }
    }

    .search input[type="search"]{
        width:30vw;    
        padding:0.8rem;
        margin:1.2rem 1rem 0rem 0rem;
        border:0.1rem black solid;
        border-radius:1.5rem;
        filter:invert(1);
    }

    nav img{
        position:relative;
        width:1.5rem;
        margin:1.8rem 0.2rem;
        filter:invert(0.8);
    }

    nav img:hover{
        transition-duration:1s;
        scale:1.1;
    }

    .wiis{
        display: none;
        font-size: 0.9rem;
        width:fit-content;
        position:absolute;
        top:4.5rem;
        right:2rem;
        padding:1rem;
        background-color:white;
        border:0.1rem black solid;
    }

    .wiis a{
        display: block;
        width:fit-content;
        margin:0.6rem 0rem 0rem 6.5rem;
        padding:0.5rem;
        background-color:black;
        color:white;
        border:0.05rem white solid;
    }

    .noti{
        display: none;
        font-size: 0.9rem;
        width:fit-content;
        position:absolute;
        top:4.5rem;
        right:2rem;
        padding:1rem;
        background-color:white;
        border:0.1rem black solid;
    }

    
    .star:hover .wiis,.bell:hover .noti{
        display: block;
        animation:fade-in 0.2s forwards ease-out; 
    }

    @keyframes fade-in{
        from {  
            opacity:0;
            transform: scale(0.95); 
        }
        to { 
            opacity: 1;
            transform:scale(1);
        }
    }

.container{
    height:80%;
    background-color: lightcyan;
}

    .herobox1{
        width:100%;
        background-color: blanchedalmond;
    }

    .hdn{
        width:fit-content;
        font-size:3rem;
        font-weight:500;
        padding:1rem;
        background-color: rgb(18, 69, 52);
    }






footer{
    height:40%;
    background-color:lightskyblue;
}